<h4><%= sprint.name %> <%= sprint.created_at %> </h4>
<table class="table table-striped">
   <thead>
      <tr>
        <% (0..2).each do |col_number| %>
          <th>
            <span class="table_cell"> <%= sprint.goals[col_number].name %> </span>
          </th>
        <% end %>
      </tr>
   </thead>
   <tbody>
      <% (0..2).each do |row_number| %>
      <tr>
        <% sprint.goals.each do |goal| %>
          <td each={column, column_number in opts.columns} > 
            <span class="table_cell">
              <%= goal.actions[row_number].name %>
            </span>
          </td>
        <% end %>
      </tr>
      <% end %>

   </tbody>
</table>

<style>
  .table_cell {
    width:100%;
    display:inline-block;
    border-bottom: 1px solid;
  }
  
  th {
    width: 33%;
  }
</style>
