
<div class="panel panel-primary">
	<div class="panel-heading text-left">
		<h3 class="panel-title"><%= sprint.name %> <span class="pull-right"><%= sprint.created_at.strftime("%d/%m/%Y") %></span> </h3>
	</div>
  <table class="table table-bordered">
     <thead>
        <tr>
          <% (0..2).each do |col_number| %>
            <th>
              <%= sprint.goals[col_number].name %>
            </th>
          <% end %>
        </tr>
     </thead>
     <tbody>
        <% (0..2).each do |row_number| %>
        <tr>
          <% sprint.goals.each do |goal| %>
            <td each={column, column_number in opts.columns} > 
              <%= goal.actions[row_number].name %>
            </td>
          <% end %>
        </tr>
        <% end %>
     </tbody>
  </table>
</div>
