// Place all the styles related to the Sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .sprint-column {
    display: inline-block;
    width: 33%;    
  }
  .sprint-name {
    width: 50%;   
    margin: 0 auto; 
    margin-bottom:20px;    
  }
